body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #B4B4B8;
  width: 100%  !important;
  padding: 0;
  margin: 0%;
}

.tittle {
  background-color: #080808;
  color: rgb(182, 164, 164);
  text-align: center;
  padding: 1px;
  width: 105%;
  font-family: "Brush Script MT", cursive;
  text-shadow: 0 0 5px rgba(238, 13, 13, 0.7);
  font-size: 1rem;
  letter-spacing: 0.1em;
}

aside.homepage {
  width: 200px;
  background-color: #0f0f0f;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

aside.homepage a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #c9c4c4;
  margin-bottom: 5px;
}

aside.homepage a:hover {
  background-color: #f1e3e381;
}

.info{
  color: white;
  position: absolute; /* Update */
  top: 50%; /* Update */
  left: 65%; /* Update */
  transform: translate(-50%, -50%); /* Update */
  font-family: sans-serif;;
}

.info::before,
.info::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}

.info::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.info::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.info .box {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.info .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info.box .title {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.info .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.info .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.info .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.info .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.info .box:hover {
  .box:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

}
main {
  padding: 20px;
  width: calc(100% - 220px);
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
}


@media only screen and (max-width: 100%) {
  aside.homepage {
    width: 100%;
    position: relative;
    height: auto;
  }
}
main {
  margin-left: 0;
  width: 100%;
}
.picture-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000000;
  padding-bottom: 1rem;
  padding-right: 20rem;
  margin-left: 400px;
}

.picture-info img {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 2;
}

.picture-info .info {
  font-family: "Calibri", serif;
  max-width: 800px;
  font-family: "Calibri", serif;
  text-align: center;
  position: relative;
  width: 100%; /* Add this line */
  max-width: 100px; /* Add this line */
  margin: 0 auto; /* Add this line */
  margin-left: 2%;

}
 .picture-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20rem; /* Adjust this value as needed */
  margin-left: 2rem; /* Adjust this value as needed */
}

.audio-box {
  width: 300px;
  margin-top: 20px;
  padding-right: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-left: 2rem;
  flex-direction: column; /* Update */
  align-items: center; /* Update */
  position: relative; /* Add this line */
}

.audio-box img {
  margin: 20px; /* Add space below the image */
  margin-top: 2px ;
 
}

.play_button,
.heart_button,
.volume_button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.paused polygon {
  display: block;
}

.playing polygon {
  display: none;
}

.paused rect {
  display: none;
}

.playing rect {
  display: block;
}



.timetext {
  color: white;
  font-size: 8px;
  position: absolute;
}



.time_now {
  bottom: 11px;
  left: 10px;
}

.time_full {
  bottom: 11px;
  right: 10px;
}


.card {
  position: relative;
  width: 250px;
  height: 120px;
  background: #191414;
  border-radius: 10px;
  padding: 10px;
}

.top {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
}

.pfp {
  position: relative;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  background-color: #d2d2d2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1 {
  color: white;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 5px;
  margin-bottom: 7px;
}

.title-2 {
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.time {
  width: 90%;
  background-color: #5e5e5e;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 5%;
  bottom: 22px;
  margin-bottom: 6px;
}

.elapsed {
  width: 42%;
  background-color: #1db954;
  height: 100%;
  border-radius: 3px;
}

.controls {
  color: white;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  justify-content: space-between;
}

.controls svg {
  width: 20px; /* Adjust icon width */
  height: 20px; /* Adjust icon height */
  cursor: pointer;
  transition: 0.1s;
  padding: 10px;
}

.controls svg:hover {
  color: #1db954;
}


.timetext {
  color: white;
  font-size: 8px;
  position: absolute;
}

.time_now {
  bottom: 11px;
  left: 10px;
}

.time_full {
  bottom: 11px;
  right: 10px;
}

.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1px;
  width: 30px;
  height: 20px;
}

.greenline {
  background-color: #1db954;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}

.line-1 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.2s;
}

.line-2 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.5s;
}

.line-3 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.6s;
}

.line-4 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0s;
}

.line-5 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
}


.container {
  max-width: 1000px;
  margin: 0 auto;
}

.about {
  margin-top: 1px;
  margin-left: 20%; /* Change this value to reduce the space between the boxes */
}

.about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about li {
  width: 45%; /* Change this value to adjust the width of the boxes */
  margin-bottom: 20px;
  background-color: #fff;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-left: 2%; /* Change this value to reduce the space between the boxes */
}

.about li i {
  font-size: 2rem;
  margin-right: 10px;
  color: #a8a6a6;
}

.about li span {
  font-family: "Akaya Telivigala", cursive;
  text-align: justify;
  font-size: 16px;
  color: #000000;
}
.container.education {
  padding: 30px 20px;
  margin-left: 20rem;
  margin-right: 20rem;
  text-align: center;
  background-color: #c7c8cc;
}

.carousel-item {
  position: relative;
  height: 300px; /* Set a fixed height for the carousel items */
}

.carousel-item img {
  max-width: 160px; /* Adjust the maximum width of the image */
  max-height: 150px; /* Adjust the maximum height of the image */
  width: auto;
  height: auto;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30%, -40%); /* Center the image */
}
.carousel-caption {
  background: grey;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* Adjust width as needed */
  padding: 5px;
  margin-top: 2rem;
  text-align: center;
}

.carousel-caption h5 {
  font-family: "Baumans", cursive;
  font-weight: bold;
  font-size: 18px; /* Font size for slide title */
  color: #000000;
  margin-bottom: 2px; /* Add margin to separate title and content */
}

.carousel-caption p {
  font-family: "Amaranth", sans-serif;
  color: #050505;
  letter-spacing: 2px;
  font-size: 15px; /* Font size for slide content */
  letter-spacing: 3px;
  margin-bottom: 0; /* Remove margin to have no gap between title and content */
}

/* General Styles */


.container-about {
  display: inline-block;
  text-align: center; /* Reset text alignment for this container */
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin-left: 50px;
}

.container-about .box {
  display: flex; /* Add this line to create a flex container */
  align-items: flex-start; /* Align the content to the top of the container */
  margin: 0 auto;
  max-width: 800px; /* Limit the maximum width of the content */
}

.container-about .box img {
  max-width: 40%;
  height: auto;
  margin-right: 5px;
  border-radius: 10%; /* Add rounded corners for a circle-shaped image */
}

.container-about .box div {
  flex: 1; /* Make the div take up the remaining space in the container */
}




/*interest/

/* Container Styles */
.container {
  margin-bottom: 20px;
}

.container h2 {
  font-size: 40;
  font-weight: 500;
  margin-bottom: 10px;
}

.container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container li {
  display:list-item;
  align-items: center;
  margin-bottom: 10px;
}

.container .icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: cover;
  display: block;
}

/* Languages Styles */
#languages {
  margin-bottom: 40px;
}

#languages .icon {
  filter: brightness(0) invert(1);
}

/* Favorites Styles */
#favorites {
  margin-bottom: 40px;
}

#favorites .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#favorites .icon-film {
  filter: brightness(0) invert(1);
}

#favorites .icon-music {
  filter: brightness(0) invert(1);
}

#favorites .icon-book {
  filter: brightness(0) invert(1);
}

#favorites .icon-utensils {
  filter: brightness(0) invert(1);
}

#favorites .icon-glass-whiskey {
  filter: brightness(0) invert(1);
}


.card-skill {
  width: 500px;
  height: auto;
  background-color: #fdfdfdce;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; /* This will center the card horizontally */
  margin-top: 50px; /* Adjust this value based on your design */
}

.body-skill {
  padding: 10px;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 1000px; /* This value should be adjusted based on your design */
  font-size: 20px;
}

.skill-level {
  width: 1500px;
  height: 10px;
  background-color: #494848;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent {
  background-color: #000000;
  height: 100%;
}

.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}
